<% if thing.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
     <h4><%= pluralize(thing.errors.count, "error") %> prohibited this wine from being saved:</h4>
    </div>
 
    <ul>
      <% thing.errors.full_messages.each do |msg| %>
        <li class="text-danger"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>