<div class="box"> 
  <h1>Your dishes</h1>

  <div id="dishes-index">
    <table class="table table-striped">
      <tr> 
        <th> Dish name </th>
        <th> Delete </th>
      </tr> 
        <% @dishes.each do |dish| %>
      <tr>
        <td><%= link_to((dish.name).capitalize, dish_path(dish.id)) %></td>
        <td> <%= link_to("Delete", dish_path(dish.id), method: :delete, data: {confirm: 'Are you sure you want to delete this dish?'}) %> </td>
        <% end %>

      </tr>
    
    </table>
  </div>

</div>
