@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
}

.col-md-4 {
  margin: 1%;
  text-align: center;
}

.col-md-8 {
  margin: 1%;
  text-align: center;
}

#error_explanation {
  color: #FF0000; 
}


.list-inline {
  display: inline-block;
}