@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700,800);
@import url(http://fonts.googleapis.com/css?family=Courgette:400,700);

html { 
  background: image-url('topography.png');
  background-repeat: repeat; 
}

#single-wine-list {
  list-style-type: none;
  font-family: 'Courgette';
  color: #FF4040;
  font-size: 25px;
  padding-left: 0px;

}

body {
  padding-top: 100px;
  background-color: transparent;
}

.navbar-default {
  background-color: #172727;
  
}

.col-md-4 {
  margin: 1%;
  text-align: center;
}

.col-md-8 {
  margin: 1%;
  text-align: center;
}

.btn {
  margin-bottom: 5%;
  margin-top: 5%
}

.radio-style {
  background-color: #009999;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  letter-spacing: 1px;
  margin: 1%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
  padding: 20px;
}

.sauce-style {
  padding: 5px;
  font-size: small;

}


.radio-inline {
  padding: 0;
  margin-bottom: 10px;
}

.checkbox-style {
  padding: 10px;
  font-size: small;
  margin-bottom: 10px;
}




.radio label.radio-style, .checkbox label.radio-style {
  padding-left: 2%;
}

.radio-style input {
  display: none;
}

.radio-style:hover {
  background: #86B32D;
  cursor: pointer;
  cursor: hand;
} 

.active:hover {
  background-color: #679B00;
  
}

.active {
  background-color: #679B00;
}

.list-inline {
  display: inline-block;
  padding: 20px;
  margin: 2%;
  height: 400px;
  width: 200px;

  .name{
    position: relative;
    top: 190px; 
    font-family: 'Courgette';
    color: #FF4040;
    font-size: 20px;
  }
}

.white {
  background: image-url('wine_bottle_white.jpg') no-repeat center;
  background-size: contain;
}

.pink {
  background: image-url('wine_bottle_pink.jpg') no-repeat center;
  background-size: contain;
}
.red {
  background: image-url('wine_bottle_red.jpg') no-repeat center;
  background-size: contain;
}

#show-wine-name {
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  padding-left: 0px;
}

#show-dish-name {
  font-family: 'Courgette';
  color: #FF4040;
}

#save-dish {
  color: #FF4040;
  font-family: 'Courgette';
  font-size: 25px;
  background-color: #FFF;
  border-color: #708090;
}

#side-question-button, .next-button {
  color: #FF4040;
  font-family: 'Courgette';
  font-size: 30px;
  background-color: #FFF;
  padding: 10px 70px;
  border-radius: 10px;
  border: 1px solid #979797;
  &:hover{
    background: rgba(216,216,216,0.31);
  }
}

.next-button--disabled {
  color: gray;
  background-color: #eee;
  cursor: not-allowed;
}

#save-dish:hover, #side-question-button:hover, #let-us-choose:hover, #view-all-pairings:hover {
  background-color: #DCDCDC;
}

.box {
  min-height: 500px;	
  border-radius: 10px;	
  background-color: #FFFFFF;	
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 4rem;
}

.brand-title {
  color: #FF4040;
  font-family: 'Courgette';
  font-size: 50px;
}

.home-title {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5%;
}

div.hidden { 
  display: none; }

.random-wine {
  font-family: 'Courgette';
  color: #FF4040;
  font-size: 25px;
}

#logo {
  font-family: 'Courgette';
}

#let-us-choose {
  color: black;
  font-family: 'Montserrat';
  background-color: #FFF;
  border-color: #708090;
  margin: 10px 0 20px;
}

#view-all-pairings {
  color: black;
  font-family: 'Montserrat';
  border-color: #708090;
  margin: 10px 0 20px;
}

.view-my-dishes {
  margin-top: 10px;
}

#all-pairings {
  font-family: 'Courgette';
  font-size: 18px;
}

#lucky-you {
  margin: 20px 0 30px;
}

#intro {
  font-family: 'Montserrat';
  font-size: 20px;
  text-align: center;
  margin-bottom: 45px;
}

.dish-title {
  color: #FF4040;
  font-family: 'Courgette';
}

.error-messages h2 {
  font-size: larger;
  color: red;
}

.error-messages li {
  color: red;
}

.question-step {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #FF4040;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 1px solid #979797;
  font-size: 60px;
  position: absolute;
  top: -50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.card-list {
  list-style: none;
  padding-bottom: 500px;
}

.question-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  margin-top: 1.5em;
}

.choices {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, auto));
  grid-gap: 20px;
  width: 75%;
  margin-top: 50px;
  margin-bottom: 50px;
}

nav {
  display: none;
}

.line {
  margin: 50px auto 100px;
  display: block;
}

.card:first-child .line {
  display: none;
}

